<!-- <div class="spawn-new"></div> -->
<button class="editor-button" (click)="add2dViewport()">2D</button>
<button class="editor-button" (click)="add3dViewport()">3D</button>
<button class="editor-button" (click)="toggleMenu()">Toggle Menu</button>
<button class="editor-button" (click)="geoTiffer()">GeoTIFF</button>
<button class="editor-button" (click)="saveFile()">Save File</button>
<button class="editor-button" (click)="openFile()">Open File</button>
<golden-layout-root [layout]="layoutService.config$"></golden-layout-root>
