/* You can add global styles to this file, and also import other style files */
@import '~golden-layout/src/css/goldenlayout-base.css';
@import '~golden-layout/src/css/goldenlayout-dark-theme.css';

body,
html {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: rgb(34, 34, 34);
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.editor-button {
  color: white;
  background-color: #555555;
}
.editor-button:hover {
  background-color: #777777;
}
